#Ignore R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
man
*.tar.gz
**/*.Rcheck

#Ignore .git things
.git

#Ignore the README
**/README.md

#Ignore the .html files
*.html

#Ignore IntelliJ files
.idea

#Ignore the buildme.sh and parse_yaml.sh files
buildme.sh
parse_yaml.sh

